
# Copyright (c) 2021, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# WSO2 Inc. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

# Project information
site_name: Choreo Documentation
site_description: Choreo Learning Portal
site_author: WSO2
site_url: https://wso2.com/choreo/docs

# Repository
repo_name: wso2/docs-choreo-dev
repo_url: https://github.com/wso2/docs-choreo-dev/
edit_uri: https://github.com/wso2/docs-choreo-dev/edit/dev/en/docs/
dev_addr: localhost:8000

# Copyright
copyright: WSO2 Choreo - Dev-Documentation

# Configuration
theme:
    name: material
    custom_dir: theme/material
    palette:
        primary: deep-orange
        accent: deep-orange
    logo: images/logo.svg
    favicon: images/favicon.png
    slack: images/help-slack-icon.svg
    choreo_logo: images/choreo-logo-icon.svg
    highlightjs: true
    feature:
        tabs: true
    font:
        text: 'Montserrat'
    language: 'en'
#Breaks build if there's a warning
strict: true
# Navigation
nav:
    - Home: index.md
    - Services:
          - Service Concepts: services/service-concepts.md
          - Create Your First Service: services/create-your-first-service.md
    - APIs:
          - API Concepts: apis/api-concepts.md
          - Create and Publish Your First API: apis/create-and-publish-your-first-api.md
    - Integrations:
          - Integration Concepts: integrations/integration-concepts.md
          - Build Your First Integration: integrations/build-your-first-integration.md
    - Observability:
          - Observability Overview: observability/observability-overview.md
          - Perform Root Cause Analysis: observability/perform-root-cause-analysis.md
          - Performance Analysis: observability/analyze-performance.md
    - Reference:
          - Ballerina Expression Syntax: references/ballerina-expression-syntax.md
          - Anonymous Access: references/anonymous-access.md
          - Data Mapping: references/data-mapping.md
# Extensions
markdown_extensions:
    - markdown.extensions.admonition
    - markdown.extensions.codehilite:
          linenums: true
          use_pygments: false
    - markdown.extensions.def_list
    - markdown.extensions.footnotes
    - markdown.extensions.meta
    - markdown.extensions.toc:
          permalink: true
          toc_depth: 3
    - pymdownx.arithmatex
    - pymdownx.betterem:
          smart_enable: all
    - pymdownx.caret
    - pymdownx.critic
    - pymdownx.details
    - pymdownx.emoji:
          emoji_generator: !!python/name:pymdownx.emoji.to_svg
    - pymdownx.inlinehilite
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.smartsymbols
    - pymdownx.superfences
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.tilde
    - pymdownx.snippets:
          base_path: docs
    - attr_list
    - markdown_include.include:
          base_path: docs
plugins:
    - search
    - markdownextradata: {}
extra_css:
    - assets/lib/highlightjs/default.min.css
    - assets/css/theme.css
    - assets/css/prism.css
    - assets/lib/json-formatter/json-formatter.css
extra_javascript:
    - assets/lib/json-formatter/json-formatter.umd.js
    - assets/lib/highlightjs/highlight.min.js
    - assets/lib/prism/prism.js
    - assets/js/theme.js
    - assets/js/prism-ballerina.js
    - assets/lib/backtotop/js/util.js
    - assets/lib/backtotop/js/main.js
extra:
    social:
        - type: github
          link: https://github.com/wso2
        - type: twitter
          link: https://twitter.com/wso2
        - type: linkedin
          link: https://www.linkedin.com/company/wso2
    site_version: 1.0.0
    #base_path: http://localhost:8000
    base_path: http://localhost:8000

