{
    "query": "mutation{ createProject(project: {\n      name: \"{{projectName}}\", description: \"ElevatedAccess\",\n      orgId: {{orgId}}, orgHandler: \"{{orgHandler}}\",\n      version: \"v1.0\", region: \"US\",\n    }){ \n      id, orgId, name, version, createdDate, handler, region, description,\n    } }"
}
