mutation {
      updateDeploymentTrack(
        input:{
          componentId: "{{componentId}}",
          id: "{{versionId}}",
          enableAutoDeploy: true
        }
      ) {
        autoDeployEnabled
      }
    }
