{
   "query": "mutation {
      handleEnableAutoBuild(
      componentId: \"{{componentId}}\",
      versionId: \"{{versionId}}\",
      envId: \"{{envId}}\"
    ) {
      success
      message
    }
  }
