{
  "query": "mutation {
    createCommonCredential(
      credential: {
        name: \"GitLabCredential\",
        type: \"gitlab-server\",
        orgUuid: \"{{orgUuid}}\",
        gitLabServerConfig: {
          serverUrl: \"{{gitLabServerUrl}}\",
          pat: \"{{gitLabServerAccessToken}}\"
        }
      }
    ) {
      id
      name
      createdAt
      organizationUuid
      type
      referenceToken
    }
  }"
}
