{
  "query": "mutation {
    createCommonCredential(
      credential: {
        name: \"EAccess2\",
        type: \"bitbucket\",
        orgUuid: \"{{orgUuid}}\",
        bitbucketCredential: {
          userName: \"{{bitbucketOrgName}}\",
          appPassword: \"{{appPwd}}\"
        }
      }
    ) {
      id
      name
      createdAt
      organizationUuid
      type
      referenceToken
    }
  }"
}
