query {
      componentDeployment(
        orgHandler: "{{orgHandler}}"
        orgUuid: "{{orgUuid}}"
        componentId: "{{componentId}}"
        versionId: "{{versionId}}"
        environmentId: "{{environmentId}}"
      ) {
        environmentId
        configCount
        apiId
        releaseId
        apiRevision {
            id
            displayName
        }
        build{
          buildId
          deployedAt
          commit {
            author {
              name
              date
              email
              avatarUrl
            }
            sha
            message
            isLatest
          }
        }
        invokeUrl
        versionId
        deploymentStatus
        deploymentStatusV2
        version
        cron
      }
    }
