{
  "query": "query {
    componentEndpointApiDefinition(
      input: {
        componentId: \"{{componentId}}\",
        versionId: \"{{versionId}}\",
        endpointId: \"{{endpointId}}\"
      }
    ) {
      content
    }
  }"
}
