mutation{
    createComponent(
        component: {
                name: "{{name}}",
                orgId: {{orgId}},
                orgHandler: "{{orgHandler}}",
                displayName: "{{name}}",
                displayType: "{{displayType}}",
                projectId: "{{projectId}}",
                labels: "",
                version: "1.0.0",
                description: "",
                apiId: "",
                ballerinaVersion: "swan-lake-alpha5",
                triggerChannels: "{{triggerChannels}}",
                triggerID: {{triggerID}},
                httpBase: true,
                sampleTemplate: "",
                accessibility: "external",
                srcGitRepoUrl: "{{srcGitRepoUrl}}"
                repositorySubPath: "{{repositorySubPath}}",
                repositoryType: "UserManagedNonEmpty",
                repositoryBranch: "{{repositoryBranch}}",
                initializeAsBallerinaProject: false,
                enableCellDiagram: false,
}
    )
{id, orgId, projectId, handler    }
}
