mutation {
  createByocComponent(
    component: {
      name: "{{name}}"
      displayName: "{{name}}"
      description: ""
      orgId: {{orgId}}
      orgHandler: "{{orgHandler}}"
      projectId: "{{projectId}}"
      labels: ""
      componentType: "{{componentType}}"
      port: 8080
      oasFilePath: "{{oasFilePath}}"
      accessibility: "external"
      byocConfig: {
        dockerfilePath: "{{dockerfilePath}}"
        dockerContext: "{{dockerContext}}"
        srcGitRepoUrl: "{{srcGitRepoUrl}}"
        srcGitRepoBranch: "{{srcGitRepoBranch}}"
      }
    }
  ) {
    id
    createdAt
    updatedAt
    name
    handle
    organizationId
    projectId
    orgHandle
    type
    description
    imageRegistryId
    imageRegistry {
      id
      createdAt
      updatedAt
      cloudConnectorId
      imageRepositoryName
    }
    componentType
    httpBased
  }
}
