mutation{
    createProject(
            project: {
                name: "{{name}}",
                description: "{{description}}",
                orgId: {{orgId}},
                orgHandler: "{{orgHandler}}",
                version: "1.0.0",
                region:"{{region}}"
            }
    )
        {
        id, orgId, name, version, createdDate, handler,region
        }
}
