{
  "query": "mutation {
    deleteComponentV2(
      orgHandler: \"{{orgHandler}}\",
      componentId: \"{{componentId}}\",
      projectId: \"{{projectId}}\"
    )
    {
      status
      canDelete
      message
      encodedData
    }
  }"
}
