{
  "query": "mutation {
    deployComponent(
      deployment: {
        componentId: \"{{componentId}}\"
        versionId: \"{{latestVersionId}}\"
        envId: \"{{devEnvIdToDeploy}}\"
        branch: \"{{branch}}\"
        sha: \"{{sha}}\"
        cron: \"\"
        shaDate: \"{{shaDate}}\"
      }
    ) {
      message
      success
    }
  }"
}
