query {
  environments(orgUuid: "{{orgUuid}}", projectId: "{{projectId}}") {
    organizationUuid
    orgShared
    name
    description
    id
    choreoEnv
    projectId
    promoteFrom
    namespace
  }
}
