query{
    components(
        orgHandler: "{{orgHandler}}",
        projectId: "{{projectId}}")
    {
        projectId,
        id,
        description,
        name,
        handler,
        displayName,
        displayType,
        version,
        createdAt,
        orgHandler
    }
}