{
  "query": "query {
    gitTokenPermissions(input: {
      secretRef: \"{{secretRef}}\"
    }) {
      hasOrgs
      hasRepos
      prWrite
      accountRead
      webhookWrite
      validCredential
    }
  }"
}
