{
  "query": "mutation {
    handleDisableAutoBuild(
      componentId: \"{{componentId}}\",
      versionId: \"{{versionId}}\",
      envId: \"{{envId}}\"
    ) {
      success
      message
    }
  }"
}
