query {
      deploymentTrackImages(
        input: {
          componentId: "{{componentId}}"
          id: "{{versionId}}"
        }
      ) {
        imageId
        createdAt
        updatedAt
        commitHash
        commitMessage
      }
}