{
  "query": "query {
    invokeUrl(
      orgUuid: \"{{orgUuid}}\",
      orgHandler: \"{{orgHandler}}\",
      componentId: \"{{componentId}}\",
      versionId: \"{{versionId}}\",
      envId: \"{{devEnvId}}\",
      componentType: \"webhook\"
    )
  }"
}
