{
  "openapi": "3.0.1",
  "info": {
    "title": "{{apiName}}",
    "description": "{{description}}",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "/"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
        "/users": {
            "get": {
                "x-throttling-limit": {
                    "requestCount" : 5,
                    "unit" : "MINUTE"
                },
                "x-auth-type": "Application & Application User",
                "responses": {
                        "200": {
                        "description": "ok"
                                }
                    },
"parameters": [],
"operationId": "getUsers"
}
}},
  "components": {
    "securitySchemes": {
      "default": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://test.com",
            "scopes": {}
          }
        }
      }
    }
  },
  "x-wso2-auth-header": "Authorization",
  "x-wso2-cors": {
    "corsConfigurationEnabled": false,
    "accessControlAllowOrigins": [
      "*"
    ],
    "accessControlAllowCredentials": false,
    "accessControlAllowHeaders": [
      "authorization",
      "Access-Control-Allow-Origin",
      "Content-Type",
      "SOAPAction",
      "apikey",
      "API-Key",
      "testKey"
    ],
    "accessControlAllowMethods": [
      "GET",
      "PUT",
      "POST",
      "DELETE",
      "PATCH",
      "OPTIONS"
    ]
  },
  "x-wso2-production-endpoints": {
    "urls": [
      "{{productionEndpoint}}"
    ],
    "type": "http"
  },
  "x-wso2-sandbox-endpoints": {
    "urls": [
      "{{sandboxEndpoint}}"
    ],
    "type": "http"
  },
  "x-wso2-basePath": "{{basePath}}",
  "x-wso2-transports": [
    "http",
    "https"
  ],
  "x-wso2-response-cache": {
    "enabled": false,
    "cacheTimeoutInSeconds": 300
  }
}
