{
  "query": "mutation {
    redeployDeployment(
      orgHandler: \"{{orgHandler}}\",
      componentId: \"{{componentId}}\",
      releaseId: \"{{releaseId}}\",
      type: \"restAPI\",
    )
  }"
}
