{
  "query": "query {
    repoDirectoryList(
      repositoryName: \"{{repoName}}\",
      repositoryBranch: \"main\",
      repositoryOrganization: \"{{gitOrgHandle}}\"
    ) {
      name
    }
  }"
}
