{
  "operationName": null,
  "variables": {},
  "query": "{
    repoBranchList(
      secretRef: \"\",
      repositoryOrganization: \"{{orgHandler}}\",
      repositoryName: \"{{repoName}}\"
    ) {
      name
      isDefault
      __typename
    }
  }"
}
