{
  "query": "mutation {
    stopDeployment(
      orgHandler: \"{{orgHandler}}\",
      componentId: \"{{componentId}}\",
      releaseId: \"{{releaseId}}\",
      type: \"ballerinaService\"
    )
  }"
}
