{
  "query": "mutation {
    updateCommonCredential(
      credentialId: \"{{credentialID}}\",
      credential: {
        name: \"{{credentialName}}\",
        type: \"bitbucket\",
        orgUuid: \"{{orgUuid}}\",
        bitbucketCredential: {
          userName: \"{{bitbucketOrgName}}\",
          appPassword: \"{{appPwd}}\"
        }
      }
    ) {
      id
      name
      type
      createdAt
      organizationUuid
      referenceToken
    }
  }"
}
