{
  "timeFilter": {
    "from": "{{from}}",
    "to": "{{to}}"
  },
  "dataFilter": {
    "orgId": "{{orgId}}",
    "environmentIds": ["{{externalEnvId}}", "{{internalEnvId}}", "{{sandboxEnvId}}"],
    "tenant": "{{tenant}}"
  }
}
