{
  "dataFilter": {
    "orgId": "{{orgId}}",
    "environmentId": "{{environmentId}}",
    "tenant": "{{tenant}}"
  },
    "tenantDataFilter": {
    "orgId": "{{orgId}}",
    "envId": "{{environmentId}}"
  }
}
