{
  "dataFilter": {
    "orgId": "{{orgId}}",
    "environmentIds": ["{{externalEnvId}}", "{{internalEnvId}}", "{{sandboxEnvId}}"],
    "tenant": "{{tenant}}"
  },
    "tenantDataFilter": {
    "orgId": "{{orgId}}",
    "environmentIds": ["{{externalEnvId}}", "{{internalEnvId}}", "{{sandboxEnvId}}"]
  }
}
