{ 
    "alertConfiguration": { 
        "apiName": "{{apiName}}", 
        "apiVersion": "{{apiVersion}}", 
        "threshold": {{threshold}}, 
        "emails": ["{{email}}"], 
        "metric": "{{metric}}" 
    } 
}