{
    "ID": "{{metric_id}}",
    "organization_id": "{{organization_id}}",
    "project_id": "{{project_id}}",
    "hpa_id": "{{hpa_id}}",
    "type": "Resource",
    "rule": {
        "resource": {
            "name": "cpu",
            "value": "60",
            "type": "utilization"
        }
    }
}
