{
    "name": "test-3",
    "organization_id": "{{organization_id}}",
    "project_id": "{{project_id}}",
    "app_environment_id": "{{app_env_id}}",
    "environment_id": "{{env_id}}",
    "metadata": {},
    "type": "EmptyDir",
    "volume": {
        "emptyDir": {
            "medium": "Memory"
        }
    }
}
