{
    "organization_id": "{{organization_id}}",
    "project_id": "{{project_id}}",
    "hpa_id": "{{hpa_id}}",
    "type": "Resource",
    "rule": {
        "resource": {
            "name": "memory",
            "value": "175Mi",
            "type": "value"
        }
    }
}
