{
    "ID": "{{configmap_id}}",
    "CreatedAt": "2023-07-17T02:28:07.19159391Z",
    "UpdatedAt": "2023-07-17T02:28:07.19159391Z",
    "metadata": {},
    "name": "config-1",
    "organization_id": "{{organization_id}}",
    "project_id": "{{project_id}}",
    "environment_id": "{{env_id}}",
    "environment": null,
    "data": {
        "id": "1232",
        "name": "3"
    },
    "kubernetes_name": "config-1-2145861697",
    "app_environment_id": "{{app_env_id}}",
    "keys": [
        "id"
    ],
    "config_type": "VariableList",
    "versions": [
            {
                "ID": "ba8ad7aa-401a-4f9a-b0a3-d764a99c5cbe",
                "CreatedAt": "2023-07-17T02:28:07.158446042Z",
                "UpdatedAt": "2023-07-17T02:28:07.158446042Z",
                "metadata": {
                    "keys": [
                        "id"
                    ]
                },
                "Version": 1,
                "ParentID": "d856e120-3466-46d4-b210-03326ceea24c"
            }
        ],
    "version": 1,
    "placeholder": false,
    "isBase64": false,
    "namespace": "",
    "copied_from": null
}
