{
    "ID": "{{mount_id}}",
    "CreatedAt": "2023-07-05T10:19:21.1539404Z",
    "UpdatedAt": "2023-07-05T10:19:21.2543068Z",
    "configmap_id": "",
    "configmap": null,
    "secret_id": null,
    "secret": null,
    "container_id": "{{container_id}}",
    "container": null,
    "app_environment_id": "{{app_env_id}}",
    "app_environment": null,
    "mount_path": "",
    "key_override": "",
    "config_key": "",
    "mount_type": "ENVFile",
    "status": true,
    "mount_permissions": "0000",
    "copied_from": null,
    "deploy_changes": true
}
