{
    "cpu": 100,
    "memory": 350,
    "image_pull_policy": "IfNotPresent",
    "args": [],
    "command": [],
    "image_registry_id": "{{image_registry_id}}",
    "image_id": "{{image_id}}",
    "custom_image": "",
    "app_environment_id": "{{app_env_id}}",
    "ports": [
        {
            "port": 8080,
            "service_port": 8080,
            "protocol": "TCP"
        }
    ],
    "cpu_limit": 500,
    "memory_limit": 1024,
    "limit_disabled": false
}
