{
    "ID": "{{secret_id}}",
    "CreatedAt": "2023-07-17T02:09:32.3900797Z",
    "UpdatedAt": "2023-07-17T02:09:32.3900797Z",
    "metadata": {},
    "name": "secret-1",
    "organization_id": "{{organization_id}}",
    "project_id": "{{project_id}}",
    "environment_id": "{{env_id}}",
    "environment": null,
    "data": {
        "id": ""
    },
    "kubernetes_name": "secret-1-263731026",
    "app_environment_id": "{{app_env_id}}",
    "keys": [
        "id"
    ],
    "config_type": "VariableList",
    "versions": [
        {
            "ID": "9ff9c664-57f0-40d9-8df5-350e39053247",
            "CreatedAt": "2023-07-17T02:09:32.3572429Z",
            "UpdatedAt": "2023-07-17T02:09:32.3572429Z",
            "metadata": {
                "keys": [
                    "id"
                ]
            },
            "Version": 1,
            "ParentID": "f3d2cddb-3007-45e4-85d1-4c61e3cc02eb"
        }
    ],
    "version": 1,
    "placeholder": false,
    "isBase64": false,
    "namespace": "",
    "copied_from": null,
    "save_type": "Save",
    "secret_type": "Opaque",
    "is_configurable": false,
    "delayed": false
}
