{
    "ID": "{{hpa_id}}",
    "app_environment_id": "{{app_env_id}}",
    "organization_id": "{{organization_id}}",
    "project_id": "{{project_id}}",
    "version": "v2beta1",
    "min": 1,
    "max": 2
}
