{
    "config_type": "VariableList",
    "data": {
        "id": "1232"
    },
    "environment_id": "{{env_id}}",
    "metadata": {},
    "name": "secret-2",
    "organization_id": "{{organization_id}}",
    "project_id": "{{project_id}}",
    "app_environment_id": "{{app_env_id}}",
    "isBase64": false,
    "save_type": "Save",
    "secret_type": "Opaque"
}
