{
    "mount_type": "ENVFile",
    "mount_permissions": "0000",
    "configmap_id": "{{configmap_id}}",
    "secret_id": null,
    "mount_path": "",
    "config_key": "",
    "deploy_changes": true,
    "container_id": "{{container_id}}",
    "app_environment_id": "{{app_env_id}}"
}
