{
  "code": 900351,
  "message": "Can not create API Revision ",
  "description": "Maximum number of revisions per API has reached.Need to remove any revision to create a new Revision for API with API UUID: {{API_ID}}",
  "moreInfo": "",
  "error": []
}
