{
  "query": "query {   buildsByVersion( orgHandler: \"{{orgHandler}}\", build: {  
    componentId: \"{{componentId}}\", versionId: \"{{versionId}}\" })  
     {id,createdDate,versionId,buildId,commitHash,commitMessage,revisions {revisionId,createdDate,description,environments}   }}"
}
