{
  "id": "{{API_ID}}",
  "name": "@ignore@",
  "description": "@ignore@",
  "context": "@ignore@",
  "version": "@ignore@",
  "provider": "@ignore@",
  "lifeCycleStatus": "@ignore@",
  "wsdlInfo": "@ignore@",
  "wsdlUrl": "@ignore@",
  "responseCachingEnabled": "@ignore@",
  "cacheTimeout": "@ignore@",
  "hasThumbnail": "@ignore@",
  "isDefaultVersion": "@ignore@",
  "isRevision": "@ignore@",
  "enableBackendJWT":"@ignore@",
  "revisionedApiId": "@ignore@",
  "revisionId": "@ignore@",
  "enableSchemaValidation": "@ignore@",
  "type": "@ignore@",
  "audience": "@ignore@",
  "transport": "@ignore@",
  "tags": "@ignore@",
  "policies": "@ignore@",
  "apiThrottlingPolicy": "@ignore@",
  "throttlingLimit":"@ignore@",
  "authorizationHeader": "@ignore@",
  "securityScheme": "@ignore@",
  "maxTps": "@ignore@",
  "visibility": "@ignore@",
  "visibleRoles": "@ignore@",
  "visibleTenants": "@ignore@",
  "mediationPolicies": "@ignore@",
  "subscriptionAvailability": "@ignore@",
  "subscriptionAvailableTenants": "@ignore@",
  "additionalProperties": "@ignore@",
  "additionalPropertiesMap": "@ignore@",
  "monetization": "@ignore@",
  "accessControl": "@ignore@",
  "accessControlRoles": "@ignore@",
  "businessInformation": "@ignore@",
  "corsConfiguration": "@ignore@",
  "websubSubscriptionConfiguration": "@ignore@",
  "workflowStatus": "@ignore@",
  "createdTime": "@ignore@",
  "lastUpdatedTime": "@ignore@",
  "endpointConfig": "@ignore@",
  "endpointImplementationType": "@ignore@",
  "scopes": "@ignore@",
  "scopePrefix": "@ignore@",
  "operations": "@ignore@",
  "threatProtectionPolicies": "@ignore@",
  "categories": "@ignore@",
  "keyManagers": "@ignore@",
  "serviceInfo": "@ignore@",
  "advertiseInfo": "@ignore@",
  "gatewayVendor":"@ignore@",
  "gatewayType": "@ignore@",
  "asyncTransportProtocols": "@ignore@"
}
