{
    "address": {
        "city": "Colombo",
        "country": "LK",
        "line1": "20",
        "postalCode": "00400",
        "state": "Western"
    },
    "billingProvider": "stripe",
    "email": "choreorbactestuser@gmail.com",
    "name": "Choreo RBAC",
    "organizationId": "{{ORG_UUID}}",
    "phone": "+94777800909"
}
