{
    "contactDetails": {
        "name": "Test Asgardeo Org",
        "email": "choreorbactestuser@gmail.com",
        "phoneNumber": "0777123456",
        "country": "Sri Lanka"
    },
    "cloudType": "choreo",
    "organizationId": "{{ORG_UUID}}",
    "currentTierName": "Individual",
    "upgradingTierName": "Team",
    "upgradingBillingCycle": "monthly"
}
