{
    "cloudType": "choreo",
    "operation": "cancel",
    "paymentMethodId": "{{PAYMENT_METHOD_ID}}",
    "subscriptionType": "choreo-subscription",
    "tierId": "352dd60e-8e14-4bb3-9dab-395a16fbfeff"
}
