{
    "address": {
        "city": "Colombo",
        "country": "LK",
        "line1": "200",
        "postalCode": "00400",
        "state": "Western"
    },
    "email": "manjular@wso2.com",
    "name": "Manjula Dev",
    "phone": "+94777800909"
}
