{
    "keyManager": "{{key_manager}}",
    "keyMappingId": "{{key_mapping_id}}",
    "consumerKey": "{{consumer_key}}",
    "consumerSecret": "{{consumer_secret}}",
    "supportedGrantTypes": [
        "client_credentials",
        "refresh_token"
    ],
    "callbackUrl": "",
    "keyType": "{{key_type}}",
    "additionalProperties": {
        "application_access_token_expiry_time": 900,
        "refresh_token_expiry_time": 86400,
        "id_token_expiry_time": "899",
        "user_access_token_expiry_time": "901",
        "bypassClientCredentials": "false",
        "pkceMandatory": "false"
    }
}
