{
    "keyType": "{{key_type}}",
    "keyManager": "{{key_manager}}",
    "grantTypesToBeSupported": [
        "client_credentials"
    ],
    "callbackUrl": "",
    "additionalProperties": {
        "application_access_token_expiry_time": 900,
        "refresh_token_expiry_time": "86400",
        "id_token_expiry_time": 900,
        "user_access_token_expiry_time": 900,
        "bypassClientCredentials": "false",
        "pkceMandatory": "false"
    }
}
