{
    "consumerSecret": "{{consumer_secret}}",
    "validityPeriod": 3600,
    "scopes": [],
    "revokeToken": "",
    "additionalProperties": {
        "id_token_expiry_time": 3600,
        "application_access_token_expiry_time": 3600,
        "user_access_token_expiry_time": 3600,
        "bypassClientCredentials": false,
        "pkceMandatory": false,
        "pkceSupportPlain": false,
        "refresh_token_expiry_time": 86400
    }
}
