{
    "applicationId": "{{application_id}}",
    "name": "{{application_name}}",
    "throttlingPolicy": "{{throttling_policy}}",
    "description": "",
    "status": "APPROVED",
    "groups": [],
    "subscriptionCount": 1,
    "attributes": {
        "scopes": ""
    },
    "owner": "{{owner_id}}",
    "createdTime": "1687866839517",
    "updatedTime": "1687867356247",
    "tokenType": "JWT"
}
