query {
      invokeInformation(
        orgHandler: "{{orgHandler}}"
        orgUuid: "{{orgUuid}}"
        componentId: "{{componentId}}"
        versionId: "{{versionId}}"
        componentType: "{{componentType}}"
      ) {
        apiId
        environmentId
        environmentName
        environmentChoreoName
        releaseId
        isProxy
        version
        versionId
        invokeUrl
        lifecycleStatus,
        apiRevision {
          displayName,
          id
        }
      }
    }
