{
    "moduleName": "{{COMP_NAME}}",
    "commitHash": "{{COMMIT_HASH}}",
    "applyNow": true,
    "operation": 0,
    "sourceUuid": "",
    "configs": [
        {
            "configKeyName": "nameFromConfig",
            "valueType": "string",
            "valueOrSource": "DevConfig",
            "valueReference": "",
            "isRequired": true
        }
    ]
}
