{
    "org_uuid": "{{ORG_UUID}}",
    "project_uuid": "{{PROJECT_UUID}}",
    "name": "DevConfig",
    "description": "TestDescription",
    "environments": [
        {
    "name": "Development",
    "uuid": "{{DEV_ENV_UUID}}"
        }
     ],
    "config_type": "Pre-defined",
    "config_type_metadata": "19920/ballerinax/github/4.5.0",
    "config_data": [
    {
    "config_key": "config.auth.token",
    "value": "123",
    "value_type": "string",
    "value_ref": "",
    "configuration_data_id": ""
    }
    ]
}