{
    "org_uuid": "{{ORG_UUID}}",
    "project_uuid": "{{PROJECT_UUID}}",
    "config_uuid": "{{DevConfigUUID}}",
    "environment_uuid": "{{DEV_ENV_UUID}}",
    "name": "DevConfig",
    "updated_config_data": [
        {
            "config_key": "config.auth.token",
            "value": "DevConfigUpdated",
            "value_type": "string",
            "value_ref": "{{DevConfigValueRef}}",
            "configuration_data_id": "{{DevConfigID}}",
            "change_type": 1
        }
    ]
}
