{
    "commitHash": "{{COMMIT_HASH}}",
    "applyNow": true,
    "configs": [
        {
            "configKeyName": "nameFromConfig",
            "valueType": "string",
            "valueOrSource": "DevConfig",
            "valueReference": "",
            "isRequired": true
        }
    ]
}
