{
    "displayName": "{{CREATE_ROLE_NAME}}",
    "description": "{{CREATE_ROLE_DESCRIPTION}}",
    "tags": [],
    "permissions": [
        {
            "id": "{{CREATE_ROLE_PERMISSION_ID}}",
            "domainArea": "{{CREATE_ROLE_DOMAIN_AREA}}",
            "handle": "{{CREATE_ROLE_HANDLE}}"
        }
    ]
}
