{
  "palette": {
    "type": "light",
    "background": {
      "primary": {
        "light": "#f7f8fb",
        "dark": "#9A97EB"
      },
      "secondary": {
        "light": "#ffffff",
        "dark": "#542C3A"
      }
    },
    "text": {
      "primary": {
        "light": "#000000",
        "dark": "#493AA5"
      },
      "secondary": {
        "light": "#000000",
        "dark": "#f50057"
      }
    },
    "button": {
      "primary": {
        "light": "#303f9f",
        "dark": "#303f9f"
      },
      "secondary": {
        "light": "#303f9f",
        "dark": "#303f9f"
      }
    }
  },
  "typography": {
    "headings": {
      "fontFamily": "Gilmer"
    },
    "body": {
      "fontFamily": "Gilmer"
    },
    "p": {
      "fontFamily": "Gilmer"
    }
  },
  "assets": {
    "logoUrl": {
      "header": "https://devportal.choreo.dev/themes/default/images/logo-black.svg",
      "footer": "https://devportal.choreo.dev/themes/default/images/wso2-logo.svg",
      "favicon": "https://devportal.choreo.dev/themes/default/images/favicon.ico"
    }
  },
  "footerLinks": {
    "terms": "https://wso2.com/choreo/terms-of-use/",
    "privacyPolicy": "https://wso2.com/choreo/privacy-policy/",
    "support": "https://discord.com/invite/wso2"
  },
  "homePage": {
    "banner": "https://devportal.choreo.dev/themes/default/images/banner.svg",
    "title": "Continue working with APIs Test",
    "subtitle": "Use our APIs to automate, innovate, and connect to millions of customers."
  }
}
