{
  "deletionPermissionList": [],
  "additionPermissionList": [
    {"handle": "apim:prod_key_manage"},
    {"handle": "apim:sand_key_manage"},
    {"handle": "apim:subscribe"},
    {"handle": "apim:app_manage"},
    {"handle": "apim:sub_manage"},
    {"handle": "apim:app_import_export"},
    {"handle": "apim:api_key"}
  ]
}
