{
  "data": {
    "componentDeployment": {
      "environmentId": "{{environmentId}}",
      "configCount": 1,
      "apiId": "@ignore@",
      "releaseId": "@ignore@",
      "build": {
        "buildId": "@ignore@",
        "deployedAt": "@ignore@",
        "commit": {
          "author": {
            "name": "@ignore@",
            "date": "@ignore@",
            "email": "@ignore@",
            "avatarUrl": "@ignore@"
          },
          "sha": "{{sha}}",
          "message": "Add log to onIssueOpend",
          "isLatest": false
        }
      },
      "invokeUrl": "@ignore@",
      "versionId": "{{versionId}}",
      "deploymentStatus": "ACTIVE",
      "deploymentStatusV2": "ACTIVE",
      "version": "v1.0",
      "cron": ""
    }
  }
}
