{
    "query": "query {
        deployments(
            startTime: \"{{startTime}}\"
            endTime: \"{{endTime}}\"
            granularity: WEEKLY
            isProd: false
        ) {
            timestamp
            count
        }
    }"
}
