query {
      changeFailureRateSummary (
            startTime: "{{startTime}}",
            endTime: "{{endTime}}",
            projectId: "{{projectId}}"
        ) {
          failureRate,
          perfLevel
        }
      }
