query {
      changeLeadTimeSummary (
            startTime: "{{startTime}}",
            endTime: "{{endTime}}",
            projectId: "{{projectId}}"
        ) {
          avgLeadTime,
          perfLevel
        }
      }
