query {
      meanTimesToRecovery (
            startTime: "{{startTime}}",
            endTime: "{{endTime}}",
            granularity: WEEKLY,
            projectId: "{{projectId}}"
        ) {
          timestamp
          recoveryTime
        }
      }
