query {
        deployments (
            startTime: "{{startTime}}",
            endTime: "{{endTime}}",
            granularity: WEEKLY,
            isProd: false
            projectId: "{{projectId}}"
        ) {
            timestamp
            count
        }
      }
