query {
      topPerformingProjects (
            startTime: "{{startTime}}",
            endTime: "{{endTime}}",
        ) {
          projectId,
          deployments,
          leadTime,
          recoveryTime,
          failureRate,
          score
        }
      }
