query {
      meanTimeToRecoverySummary (
            startTime: "{{startTime}}",
            endTime: "{{endTime}}",
            projectId: "{{projectId}}"
        ) {
          avgRecoveryTime,
          perfLevel
        }
      }
