query {
      topPerformingProjects (
            startTime: "{{startTime}}",
            endTime: "{{endTime}}",
        ) {
          projectId,
          recoveryTime,
          failureRate,
          score,
          leadTime
        }
      }
