query {
      changeLeadTimes (
            startTime: "{{startTime}}",
            endTime: "{{endTime}}",
            granularity: WEEKLY
        ) {
          timestamp
          leadTime
        }
      }
