{ "data":
  {
      "createComponent": {
        "id": "@ignore@",
        "orgId": {{.BaseComponent.OrgId}},
        "projectId": "{{.BaseComponent.ProjectId}}",
        "handler": "@ignore@"
      }
  }
}
