{ "data":
  {
      "createByocComponent": {
        "id": "@ignore@",
        "projectId": "{{.BaseComponent.ProjectId}}",
        "handle": "@ignore@",
        "componentType": "byocService"
      }
  }
}
