{
	"component": {
		"id": "@ignore@",
		"name": "{{.Name}}",
		"handler": "{{.Name}}",
		"displayType": "{{.DisplayType}}",
		"displayName": "{{.Name}}",
		"orgId": {{.OrgId}},
        "orgHandler": "{{.OrgHandler}}",
		"version": "v1.0",
		"labels": [],
		"createdAt": "@ignore@",
		"projectId": "{{.ProjectId}}",
	}
}
