{
   "data": {
		"component": {
			"id": "@ignore@",
			"name": "{{.Component.Name}}",
			"handler": "{{.Component.Name}}",
			"displayName": "{{.Component.Name}}",
			"orgId": {{.Component.OrgId}},
			"orgHandler": "{{.Component.OrgHandler}}",
			"version": "@ignore@",
			"labels": [],
			"createdAt": "@ignore@",
			"projectId": "{{.Component.ProjectId}}"
		}
	}
}
