{
"id":{{id}},
"name":{{name}},
"displayName": {{displayName}},
"description":{{description}},
"context":{{context}},
"version":{{version}},
"provider":"choreo_dev_apim_admin",
"lifeCycleStatus":"CREATED",
"wsdlInfo":null,
"wsdlUrl":null,
"responseCachingEnabled":false,
"cacheTimeout":300,
"hasThumbnail":false,
"isDefaultVersion":false,
"isRevision":false,
"enableBackendJWT":false,
"backendJWTConfiguration":{
"audiences":[

]
},
"revisionedApiId":null,
"revisionId":0,
"enableSchemaValidation":false,
"type":"HTTP",
"audience":null,
"transport":[
"http",
"https"
],
"tags":[

],
"policies":[

],
"apiThrottlingPolicy":null,
"throttlingLimit":null,
"authorizationHeader":null,
"securityScheme":{{securityScheme}}
"maxTps":null,
"visibility":"PRIVATE",
"visibleRoles":[
""
],
"visibleTenants":[

],
"mediationPolicies":[

],
"subscriptionAvailability":"CURRENT_TENANT",
"subscriptionAvailableTenants":[
""
],
"additionalProperties":[
{
"name":"projectId",
"value":{{value}},
"display":true
},
{
"name":"accessibility",
"value":"internal",
"display":true
},
{
"name":"org",
"value":{{org}},
"display":true
},
{
"name":"application",
"value":{{application}},
"display":true
},
{
"name":"applicationId",
"value":{{applicationId}},
"display":true
},
{
"name":"endpointType",
"value":"REST",
"display":true
}
],
"additionalPropertiesMap":{
"projectId__display":{
"name":"projectId",
"value":"4edd116a-54e3-4ce8-9581-efe31a644eee",
"display":false
},
"accessibility__display":{
"name":"accessibility",
"value":"internal",
"display":false
},
"org__display":{
"name":"org",
"value":"hansijk",
"display":false
},
"application__display":{
"name":"application",
"value":"autotest11T1714644091370",
"display":false
},
"applicationId__display":{
"name":"applicationId",
"value":"9d076f0f-b712-4646-8a81-d77417aa07bf",
"display":false
},
"endpointType__display":{
"name":"endpointType",
"value":"REST",
"display":false
}
},
"monetization":null,
"accessControl":"NONE",
"accessControlRoles":[

],
"businessInformation":{
"businessOwner":null,
"businessOwnerEmail":null,
"technicalOwner":null,
"technicalOwnerEmail":null
},
"corsConfiguration":{
"corsConfigurationEnabled":false,
"accessControlAllowOrigins":[
"*"
],
"accessControlAllowCredentials":false,
"accessControlAllowHeaders":[
"authorization",
"Access-Control-Allow-Origin",
"Content-Type",
"SOAPAction",
"apikey",
"API-Key",
"testKey"
],
"accessControlAllowMethods":[
"GET",
"PUT",
"POST",
"DELETE",
"PATCH",
"OPTIONS"
]
},
"websubSubscriptionConfiguration":{
"enable":false,
"secret":"",
"signingAlgorithm":"SHA1",
"signatureHeader":"x-hub-signature"
},
"workflowStatus":null,
"createdTime":"1714644232910",
"lastUpdatedTime":"2024-05-02 10:11:41.07",
"endpointConfig":{
"endpoint_type":"http",
"production_endpoints":{
"url":"http://autotest11t1714644091370-1978325463.dp-testenv-automationtestproj-5424-3596230419.svc.cluster.local:8080/"
}
},
"endpointImplementationType":"ENDPOINT",
"scopes":[

],
"scopePrefix":null,
"operations":[
{
"id":"",
"target":"/rewards",
"verb":"GET",
"authType":"Application & Application User",
"throttlingPolicy":"Unlimited",
"throttlingLimit":{
"requestCount":-1,
"unit":"MINUTE"
},
"scopes":[

],
"usedProductIds":[

],
"amznResourceName":null,
"amznResourceTimeout":null,
"payloadSchema":null,
"uriMapping":null,
"operationPolicies":{
"request":[

],
"response":[

],
"fault":[

]
}
},
{
"id":"",
"target":"/rewards/{id}",
"verb":"GET",
"authType":"Application & Application User",
"throttlingPolicy":"Unlimited",
"throttlingLimit":{
"requestCount":-1,
"unit":"MINUTE"
},
"scopes":[

],
"usedProductIds":[

],
"amznResourceName":null,
"amznResourceTimeout":null,
"payloadSchema":null,
"uriMapping":null,
"operationPolicies":{
"request":[

],
"response":[

],
"fault":[

]
}
},
{
"id":"",
"target":{{target}},
"verb":{{verb}},
"authType":"Application & Application User",
"throttlingPolicy":"Unlimited",
"throttlingLimit":{
"requestCount":-1,
"unit":"MINUTE"
},
"scopes":[

],
"usedProductIds":[

],
"amznResourceName":null,
"amznResourceTimeout":null,
"payloadSchema":null,
"uriMapping":null,
"operationPolicies":{
"request":[

],
"response":[

],
"fault":[

]
}
},
{
"id":"",
"target":"/user/{id}",
"verb":"GET",
"authType":"Application & Application User",
"throttlingPolicy":"Unlimited",
"throttlingLimit":{
"requestCount":-1,
"unit":"MINUTE"
},
"scopes":[

],
"usedProductIds":[

],
"amznResourceName":null,
"amznResourceTimeout":null,
"payloadSchema":null,
"uriMapping":null,
"operationPolicies":{
"request":[

],
"response":[

],
"fault":[

]
}
}
],
"threatProtectionPolicies":null,
"categories":[

],
"keyManagers":[
"all"
],
"serviceInfo":null,
"advertiseInfo":{
"advertised":false,
"apiExternalProductionEndpoint":null,
"apiExternalSandboxEndpoint":null,
"originalDevPortalUrl":null,
"apiOwner":"choreo_dev_apim_admin",
"vendor":"WSO2"
},
"gatewayVendor":"wso2",
"gatewayType":"wso2/synapse",
"asyncTransportProtocols":[
""
],
"choreoComponentInfo":{
"organizationId":{{organizationId}},
"projectId":{{projectId}},
"componentId":{{componentId}},
"versionId":{{versionId}}
}
}
