mutation {
    createByocComponent(
        component: {
        name: "{{apiName}}",
        displayName: "{{displayName}}",
        description: "",
        orgId: {{orgId}},
        orgHandler: "{{orgHandler}}",
        projectId: "{{projectId}}",
        labels: "",
        componentType: "{{componentType}}",
        port: 80,
        oasFilePath: "",
        accessibility: "external",
        byocConfig: {
            dockerfilePath: "{{dockerfilePath}}",
            dockerContext: "",
            srcGitRepoUrl: "{{srcGitRepoUrl}}",
            srcGitRepoBranch: "{{repositoryBranch}}",
            }
        }
    ) {
        id, organizationId, projectId, handle
    }
}
