{
    "data": {
        "componentDeployment": {
            "environmentId": "{{environmentId}}",
            "configCount": "@ignore@",
            "apiId": "@ignore@",
            "releaseId": "@ignore@",
            "apiRevision": "@ignore@",
            "build": {
                "buildId": "@ignore@",
                "deployedAt": "@ignore@",
                "commit": {
                    "author": {
                        "name": "@ignore@",
                        "date": "@ignore@",
                        "email": "@ignore@",
                        "avatarUrl": "@ignore@"
                    },
                    "sha": "{{sha}}",
                    "message": "@ignore@",
                    "isLatest": false
                }
            },
            "invokeUrl": "@ignore@",
            "versionId": "{{versionId}}",
            "deploymentStatus": "ACTIVE",
            "deploymentStatusV2": "ACTIVE",
            "version": "1.0.0",
            "cron": ""
        }
    }
}
