mutation (orgId: Int!, orgHandler: String!, projectId: String!) {
  createByocComponent(
    component: {
      name: "container-event"
      displayName: "container-event"
      description: ""
      orgId: {{orgId}}
      orgHandler: {{orgHandler}}
      projectId: {{projectId}}
      labels: ""
      componentType: "byocWebhook"
      port: 80
      oasFilePath: ""
      accessibility: "external"
      byocConfig: {
        dockerfilePath: "ipaas/containerized/containerized-rabbitmq-listener/Dockerfile"
        dockerContext: "ipaas/containerized/containerized-rabbitmq-listener"
        srcGitRepoUrl: "https://github.com/chameerar/choreo-examples"
        srcGitRepoBranch: "main"
      }
      secretRef: ""
    }
  ) {
    id
    organizationId
    projectId
    handle
  }
}
