mutation {
    deployDeploymentTrack(
        input: {
            componentId:  "{{.ComponentId}}"
            id: "{{.VersionId}}",
            imageId: "{{.ImageId}}",
            environmentId:"{{.EnvId}}",
            deploymentPipelineId: "{{.DeploymentPipelineId}}",
            cron: "",
            cronTimezone: "",
        }
    )
}
