query {
      deploymentTrackImages(
        input: {
          componentId: "{{.ComponentId}}"
          id: "{{.VersionId}}"
        }
      ) {
        imageId
        createdAt
        updatedAt
        commitHash
        commitMessage
      }
}
