query{
      component(
        projectId: "{{.ProjectId}}"
        componentHandler: "{{.ComponentHandler}}"
      ){
        id,
        name,
        handler,
        description,
        displayType,
        displayName,
        ownerName,
        orgId,
        orgHandler,
        version,
        labels,
        createdAt,
        projectId,
        apiId,
        httpBased,
        isMigrationCompleted,
        repository{
          nameApp,
          nameConfig,
          branch,
          branchApp,
          organizationApp,
          organizationConfig,
          isUserManage,
          appSubPath,
          byocBuildConfig {
            id,
            isMainContainer,
            containerId,
            componentId,
            repositoryId,
            dockerContext,
            dockerfilePath,
            oasFilePath,
          }
        },
        apiVersions{
          apiVersion,
          proxyName,
          proxyUrl,
          proxyId,
          id,
          state,
          latest,
          branch,
          accessibility,
          appEnvVersions{
            environmentId,
            releaseId,
            release{
              id,
              metadata{
                choreoEnv
              },
              environmentId,
              environment,
              gitHash,
              gitOpsHash,
            }
          }
        }
      }
    }
