query {
      commitHistory(componentId: "{{.ComponentId}}") {
          author {
            name
            date
            email
            avatarUrl
          }
        message
        sha
        isLatest
    }
  }
