query {
  deploymentStatusByVersion(
    componentId: "{{.ComponentId}}"
    versionId: "{{.LatestVersionId}}"
  ) {
    id
    sha
    completed_at
    started_at
    name
    status
    conclusion
    conclusionV2
    isAutoDeploy
    failureReason
    sourceCommitId
    isTriggeredAtCreation
    buildRef
    clusterId
    gitRefType
    commitTag
    metadata {
        governance {
            ruleViolationsSummary {
                error
                warn
            }
        }
        sourceConfigType
        schemaVersion
    }
  }
}
