mutation{
    promote(
        componentId: "{{.ComponentId}}",
        promoteSchema: {
            apiVersionId: "{{.ApiVersionId}}",
            sourceReleaseId: "{{.SourceReleaseId}}",
            targetEnvironmentId: "{{.TargetEnvironmentId}}",
            cronFrequency: "{{.CronFrequency}}",
            cronTimezone: "{{.CronTimezone}}",
        }
    )
}
