{
    "operationName": "stats",
    "variables": {
        "observeId": "{{observeId}}",
        "version": "{{version}}",
        "moduleId": "{{moduleId}}",
        "from": "{{from}}",
        "to": "{{to}}"
    },
    "query": "query stats($observeId: String!, $version: String!, $from: String!, $to: String!, $moduleId: String!) {\n  invocationMetrics(\n    obsId: $observeId\n    version: $version\n    from: $from\n    to: $to\n    module: $moduleId\n  ) {\n    successfulInvocationCounts {\n      name\n      value\n      __typename\n    }\n    failedInvocationCounts {\n      name\n      value\n      __typename\n    }\n    meanInvocationTimes {\n      name\n      value\n      __typename\n    }\n    __typename\n  }\n}\n"
}
