query {
            environments(orgUuid:"{{orgUUID}}", projectId: "{{projectId}}" ){
              organizationUuid,
              orgShared,
              name,
              description,
              id,
              choreoEnv,
              projectId,
              promoteFrom,
              namespace,
            }
          }
