query {
            environments(orgUuid:"{{orgUUID}}"){
              organizationUuid,
              orgShared,
              name,
              description,
              id,
              choreoEnv,
              projectId,
              promoteFrom,
              namespace,
            }
          }
